pip3 install torch==2.1.0 torchvision==0.16.0 --index-url https://download.pytorch.org/whl/cu118

accelerate
diffusers==0.14.0
transformers
clean-fid
torchmetrics

opencv-python
sudo apt-get install libxext6
